@page "/counter"

<PageTitle>Counter</PageTitle>

<div class="alert alert-info">
    <h1>Count by 1</h1>
    <p role="status">Current value: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {

    private int icrement = 1;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += icrement;
    }
}
